<!doctype html>
<html ng-app>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script src="/js/controllers.js" ></script>
    </head>
    <body>
        <div ng-controller="tictacController">
            <table border="1">
                <tr ng-repeat="row in board">
                    <td ng-click="makeMove([$parent.$index, $index])" ng-repeat="col in row track by $index">
                        {{col}}
                    </td>
                </tr>
            </table>
            <h1 ng-bind-html="gameOverMessage"></h1>
        </div>
    </body>
</html>
