table{
    border: 1px solid black;
    table-layout: fixed;
}

td {
    font-family: sans-serif;
    font-size:50px;
    text-align:center;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

td:hover {
    background-color:#F5F5F5;
    cursor:pointer;
}
